[Unit]
Description=anketa.info

Requires=docker.service
After=docker.service

[Service]

Restart=always
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill anketa.info
ExecStartPre=-/usr/bin/docker rm anketa.info
ExecStartPre=-/usr/bin/docker pull marley/anketa.info:latest
ExecStart=/bin/sh -c '/usr/bin/docker run --name anketa.info   \
 -p 65068:80                        \
 marley/anketa.info'
ExecStop=-/usr/bin/docker kill anketa.info
ExecStop=-/usr/bin/docker rm anketa.info

[Install]
WantedBy=multi-user.target
