[Unit]
Description=api.anketa.info.service

Requires=docker.service
After=docker.service

[Service]

Restart=always
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill api.anketa.info
ExecStartPre=-/usr/bin/docker rm api.anketa.info
ExecStartPre=-/usr/bin/docker pull webmakaka/api.anketa.info:latest
ExecStart=/bin/sh -c '/usr/bin/docker run --name api.anketa.info   \
 -p 65077:5000                        \
 webmakaka/api.anketa.info'
ExecStop=-/usr/bin/docker kill api.anketa.info
ExecStop=-/usr/bin/docker rm api.anketa.info

[Install]
WantedBy=multi-user.target
