[Unit]
Description=client.anketa.info

Requires=docker.service
After=docker.service

[Service]

Restart=always
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill client.anketa.info
ExecStartPre=-/usr/bin/docker rm client.anketa.info
ExecStartPre=-/usr/bin/docker pull marley/client.anketa.info:latest
ExecStart=/bin/sh -c '/usr/bin/docker run --name client.anketa.info   \
 -p 65068:80                        \
 marley/client.anketa.info'
ExecStop=-/usr/bin/docker kill client.anketa.info
ExecStop=-/usr/bin/docker rm client.anketa.info

[Install]
WantedBy=multi-user.target
